

<div class="bg-[#1A1A40] flex flex-col items-center rounded-lg p-8">
    <h1 
	class="text-white mb-2  text-2xl">
        Get Things Done !
	</h1>
    <div>
            <input name="doString"
            [(ngModel)]="tempString" 
            class="h-8 me-1 rounded-md bg-[#1A1A40] text-gray-200 border-2 border-[#8758ff] outline-1 outline-purple-300 p-4 placeholder-[#ffffff4d]" 
            placeholder="What are you going do?">

            <button type="submit" name="Add"
            class="border-purple-300 bg-[#8758ff] w-12 h-8 border-none rounded text-gray-200 "
            (click)="addPhone()">
                Add
            </button>
        
    </div>
    <div class="m-4">
       <app-todo-list
       [someStrings] = "someStrings">
       </app-todo-list>
    </div>
</div>